* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Variables */
:root {
    --Eggplant: #533747;
    --PewBlue: #76949F;
    --EngVio: #5F506B;
    --Rhythm: #6A6B83;
    --GreenSheen: #86BBBD;
    --White: #ffffff;
}


body {
    background-color: var(--Rhythm);
}

header {
    top: 0;
    width: 100%;
    height:80px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--Eggplant);
    color: var(--PewBlue);
}

header h1 {
    display: inline-block;
    font-size: 32px;
}

header h1 #M {
    color: #949494;
}

nav {
    display: flex;
    background-color: var(--EngVio);
  }
  

  nav a {
    color: var(--White);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }


a {
    color: #ffffff;
}

p {
    font-size: 16px;
}


/* id selectors */

#banner {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../img/imgBG.png"); alt:"background image of code";
    background-size: cover;
    background-position: center;
}


/* Class selectors */

.aboutme {
    width: 100%;
    height: 100%;
    padding: 25px 0px;
    border: 5px solid var(--White);
}

.portfolio {
    width: 100%;
    height: 100%;
    margin: 25px 0px;
    padding: 25px 0px;
    border: 5px solid var(--White);
}

.row {
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.works {
    align-content: center;
    flex: 1 0 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 100%;
    padding: 2rem;
    margin: 10px;
    outline: 2px solid var(--PewBlue);
}


.mainworks {
    align-self: stretch;
    align-content: center;
    flex: 1 0 80%;
    display: inline-block;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 100%;
    padding: 2rem;
    margin: 10px;
    outline: 5px solid var(--PewBlue);
}

.mainworks h3 {
    margin: 2px;
    padding: 3px;
    font-size: 200%;
}

.caption {
    text-align: center;
    display: block;
    margin: 2px;
    color: var(--White);
}

.mainworks img {
    width: 80%;
    height: 80%;
    margin: 5px;
    display: inline-block;
}

.contactme section {
    font-size: 200%;
}

/* Hover glow/shadow effect */

.works:hover, .mainworks:hover {
    box-shadow: inset 0px 0px 8px var(--PewBlue), 0 0 15px var(--PewBlue);
}

/* Clicking each work will show more info */
.mainworks:hover .infoExt {
    display: block;
}

/* Section */
section {
    width: 75%;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--EngVio);
}

section p {
    font-size: 26px;
    color: var(--White);
}


/* aside */
aside h2{
    font-size: 48px;
    color: var(--PewBlue);
}

aside {
    font-size: 100%;
    width: 20%;
    height: 100%;
    clear: both;
    float: left;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri' , 'Trebuchet MS', sans-serif;
    background-color: var(--Rhythm)
}

aside img {
    width: 80%;
    height: 80%;
    max-width: 200px;
    max-height: 280px;
}

/* footer */
footer {
    width: 100%;
    background-color: var(--Eggplant);
    padding: 20px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
    color: var(--PewBlue);
}

@media screen and (max-width: 960px) {
    main, nav {
        flex-direction: column;
    }
}